h1 {
    background-color: red;
    color: white;
}

ul {
    margin: 0 auto;
}

li {
    background-color: lightblue;
    padding: 1rem;
    list-style-type: none;
    text-transform: capitalize;
}

li:nth-child(odd) {
    background-color: lightcoral;
}
