{% extends "tracker/base.html" %}

{% block breadcrumb %}<span aria-hidden="true"> / </span>Albums {% endblock breadcrumb %}

{% block content %}
    <div class="list-header">
        <h1>All albums</h1>
        <form action="{% url 'album_list' %}" method="get" class="search-form">
            <label for="album-search">Search album</label>
            <input id="album-search" name="q" type="text" value="{{ request.GET.q }}">
        </form>
    </div>

    <ul>
    {% for album in album_list %}
        <li>
            <a href="{% url 'album_detail' album.pk %}">
                {{ album }}
            </a>
        </li>
    {% empty %}
         <li>
             <p>No album by that name.</p>
         </li>
    {% endfor %}
    </ul>
{% endblock content %}
