{% extends "tracker/base.html" %}

{% block content %}
    <div class="list-header">
        <h1>All artists</h1>
        <form action="{% url 'artist_list' %}" method="get" class="search-form">
            <label for="artist-search">Search artist</label>
            <input id="artist-search" name="q" type="text" value="{{ request.GET.q }}">
        </form>
    </div>

    <ul>
        {% for artist in artist_list %}
            <li>
                {{ artist.name }}</li>
        {% empty %}
            <li>
                <p>No artist by that name.</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
